{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Andrey Cunha
                <span class="text-primary"></span>
            </h1>
            <div class="subheading mb-5">
                Presidente Prudente, São Paulo · (18) 9 8137-4627 ·
                <a href="mailto:name@email.com">andreycunha08@gmail.com</a>
            </div>
            <p class="lead mb-5">Computer Science student at UNESP, Presidente Prudente, São Paulo Campus, Brazil.
                Python developer and data science enthusiast. </p>
            <div class="social-icons">
                <a class="social-icon" target="blank" href="https://www.linkedin.com/in/andrey-cunha-50773b18b/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" target="blank" href="https://github.com/Andreycb"><i class="fab fa-github"></i></a>
                <a class="social-icon" target="blank" href="https://twitter.com/CunhAndrey"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" target="blank" href="https://www.facebook.com/andrey.cunha2/"><i class="fab fa-facebook-f"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-skype"></i></a>
            </div>

        </div>
</div>

{% endblock %}